
.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: rgb(85, 14, 82);
  border-color: rgb(85, 14, 82); }

.btn-primary:hover {
  background-color: rgb(128, 21, 21);
  border-color: rgb(128, 21, 21);
  border-width: 5px;
  cursor: pointer;
}